<!DOCTYPE html>
<html>
<head>
  <% include partials/_head.ejs %>
  <link rel="stylesheet" href="/css/arenaStyles.css">
  <title>Arena GUI</title>
</head>
<body>
  <% include partials/_nav.ejs %>
  <div class="container mt-4">
    <h1 class="text-center">End Game Challenges</h1>
    <div id="endGameContent" class="mt-5">
      <section class="arenas">
        <h2>Arenas</h2>
        <div class="list-group">
          <% arenas.forEach(function(arena) { %>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1"><%= arena.name %></h3>
                <small>Difficulty: <%= arena.difficulty %></small>
              </div>
              <p class="mb-1">Environment: <%= arena.environment %></p>
            </a>
          <% }) %>
        </div>
      </section>
      <section class="bosses mt-4">
        <h2>Bosses</h2>
        <div class="list-group">
          <% bosses.forEach(function(boss) { %>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h3 class="mb-1"><%= boss.name %></h3>
                <small>Health: <%= boss.health %></small>
              </div>
              <p class="mb-1">Attack Damage: <%= boss.attackDamage %></p>
              <p class="mb-1">Special Move: <%= boss.specialMove %></p>
              <small>Arena: <%= boss.arena.name %></small>
            </a>
          <% }) %>
        </div>
      </section>
    </div>
  </div>
  <% include partials/_footer.ejs %>
  <script src="/js/endGame.js"></script>
  <script src="/js/arenaInteractions.js"></script>
</body>
</html>