<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_head.ejs') %>
  <link rel="stylesheet" href="/css/dashboard.css"> <!-- Include custom CSS for the dashboard -->
  <title>Dashboard - The Terrible Teddies</title>
</head>
<body>
  <%- include('partials/_header.ejs') %>

  <div class="container mt-4">
    <h1>Welcome to your Dashboard<% if (playerDetails && playerDetails.level) { %>, <%= playerDetails.level %> Level Player<% } %>!</h1>
    <p>Here's your teddy collection and available challenges:</p>
    <% if (playerDetails && playerDetails.teddies && playerDetails.challenges) { %>
      <div class="row">
        <div class="col-md-6">
          <h3>Your Teddies:</h3>
          <ul>
            <% playerDetails.teddies.forEach(function(teddy) { %>
              <li><%= teddy.name %> - Health: <%= teddy.health %>, Attack: <%= teddy.attackDamage %></li>
            <% }); %>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>Available Challenges:</h3>
          <ul>
            <% playerDetails.challenges.forEach(function(challenge) { %>
              <li><%= challenge.specialMove %> - Unlock at Level: <%= challenge.level %></li>
            <% }); %>
          </ul>
        </div>
      </div>
    <% } else { %>
      <p>You currently have no teddies or challenges. Start by collecting teddies!</p>
    <% } %>
  </div>

  <%- include('partials/_footer.ejs') %>
  <script src="/js/main.js"></script>
</body>
</html>