<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/_head.ejs') %>
  <title>Customize Your Teddies</title>
</head>
<body>
<%- include('partials/_nav.ejs') %>
<main role="main" class="container">
  <h1>Customize Your Teddies</h1>
  <div id="customization-area">
    <% teddies.forEach(function(teddy) { %>
      <div class="teddy-customization" data-teddy-id="<%= teddy._id %>">
        <h3><%= teddy.name %></h3>
        <p>Choose Skin:</p>
        <select class="skin-selector">
          <% skins.forEach(function(skin) { %>
            <option value="<%= skin._id %>"><%= skin.name %></option>
          <% }); %>
        </select>
        <p>Choose Accessory:</p>
        <select class="accessory-selector">
          <% accessories.forEach(function(accessory) { %>
            <option value="<%= accessory._id %>"><%= accessory.name %></option>
          <% }); %>
        </select>
        <button class="apply-customization">Apply</button>
      </div>
    <% }); %>
  </div>
</main>
<%- include('partials/_footer.ejs') %>
<script src="/js/teddiesCustomization.js"></script>
</body>
</html>