<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head.ejs') %>
    <title>Terrible Teddies - Your Collection</title>
    <style>
      .teddy-card:hover {
        transform: scale(1.05);
        transition: transform 0.3s ease-in-out;
      }
    </style>
  </head>
  <body>
    <%- include('partials/_nav.ejs') %>
    <main role="main" class="container">
      <h1>Your Teddies</h1>
      <div id="teddies-collection" class="row">
        <% teddies.forEach(function(teddy) { %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm teddy-card" data-teddy-id="<%= teddy._id %>">
              <img id="img-<%= teddy._id %>" src="/assets/images/<%= teddy._id %>.jpg" class="card-img-top" alt="<%= teddy.name %>" onerror="this.onerror=null;this.src='/images/default.jpg';">
              <div class="card-body">
                <h5 class="card-title"><%= teddy.name %></h5>
                <p class="card-text"><%= teddy.description %></p>
                <ul class="list-unstyled">
                  <li>Attack Damage: <%= teddy.attackDamage %></li>
                  <li>Health: <%= teddy.health %></li>
                  <li>Special Move: <%= teddy.specialMove %></li>
                  <li>Rarity: <%= teddy.rarity %></li>
                </ul>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary select-teddy" data-teddy-id="<%= teddy._id %>">Select</button>
                  </div>
                  <small class="text-muted"><%= teddy.rarity %> Rarity</small>
                </div>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
      <form id="lineup-form" action="/battle" method="post">
        <input type="hidden" name="selectedTeddyIds" id="selectedTeddyIds" value="">
        <button type="submit" class="btn btn-primary">Initiate Battle</button>
      </form>
    </main>
    <%- include('partials/_footer.ejs') %>
    <%- include('partials/_debugLinks.ejs') %>
    <script src="/js/battleLogic.js"></script>
    <script src="/js/teddyStats.js"></script>
  </body>
</html>