<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/_head.ejs') %>
    <title>Terrible Teddies - Your Collection</title>
  </head>
  <body>
    <%- include('partials/_nav.ejs') %>
    <main role="main" class="container">
      <h1>Your Teddies</h1>
      <div id="teddies-collection" class="row">
        <% teddies.forEach(function(teddy) { %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <img src="/images/teddies/<%= teddy._id %>.jpg" class="card-img-top" alt="<%= teddy.name %>">
              <div class="card-body">
                <h5 class="card-title"><%= teddy.name %></h5>
                <p class="card-text"><%= teddy.description %></p>
                <ul class="list-unstyled">
                  <li>Attack Damage: <%= teddy.attackDamage %></li>
                  <li>Health: <%= teddy.health %></li>
                  <li>Special Move: <%= teddy.specialMove %></li>
                  <li>Rarity: <%= teddy.rarity %></li>
                </ul>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary select-teddy" data-teddy-id="<%= teddy._id %>">Select</button>
                  </div>
                  <small class="text-muted"><%= teddy.rarity %> Rarity</small>
                </div>
              </div>
            </div>
          </div>
        <% }); %>
      </div>
      <form id="lineup-form" action="/game/choose-lineup" method="get">
        <input type="hidden" name="selectedTeddyIds" id="selectedTeddyIds" value="">
        <button type="submit" class="btn btn-primary">Initiate Battle</button>
      </form>
    </main>
    <%- include('partials/_footer.ejs') %>
    <script src="/js/main.js"></script>
    <script>
      $(document).ready(function() {
        $('.select-teddy').click(function() {
          var teddyId = $(this).data('teddy-id');
          var selectedTeddyIds = $('#selectedTeddyIds').val();
          if (selectedTeddyIds) {
            selectedTeddyIds = selectedTeddyIds.split(',');
          } else {
            selectedTeddyIds = [];
          }
          if (!selectedTeddyIds.includes(teddyId)) {
            selectedTeddyIds.push(teddyId);
            $('#selectedTeddyIds').val(selectedTeddyIds.join(','));
            $(this).addClass('btn-success').removeClass('btn-outline-secondary');
          } else {
            selectedTeddyIds = selectedTeddyIds.filter(id => id !== teddyId);
            $('#selectedTeddyIds').val(selectedTeddyIds.join(','));
            $(this).addClass('btn-outline-secondary').removeClass('btn-success');
          }
        });

        $('#lineup-form').submit(function(event) {
          var selectedTeddyIds = $('#selectedTeddyIds').val();
          if (!selectedTeddyIds) {
            event.preventDefault();
            alert('Please select at least one teddy to battle.');
          }
        });
      });
    </script>
  </body>
</html>